<h2>EForm Service Status</h2>
<p>{{statusDate}}</p>
<table class="eform-service-status-table">
    <thead class="eform-service-status-table-head">
        <tr>
            <td class="eform-service-status-table-head">Server</td>
            <td class="eform-service-status-table-head">Success</td>
            <td class="eform-service-status-table-head">Failed</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let es of eformServiceStatus">
            <td class="eform-service-status-table-servername">{{es.serverName}}</td>
            <td class="eform-service-status-table-count">{{es.success | number:'.0'}}</td>
            <td class="eform-service-status-table-count">{{es.failed | number:'.0'}}</td>
        </tr>
    </tbody>
    <tfoot class="eform-service-status-table-foot">
        <tr>
            <td class="eform-service-status-table-servername">Total</td>
            <td class="eform-service-status-table-count">{{successCount | number:'.0'}}</td>
            <td class="eform-service-status-table-count">{{failedCount | number:'.0'}}</td>
        </tr>
    </tfoot>
</table>